layout: index
---

.intro-wrap
  .outer
    h2.intro-title Features
  .outer
    .intro-feature
      h3.intro-feature-title Blazing Fast
      p.intro-feature-desc TODO.
    .intro-feature
      h3.intro-feature-title Easy Write
      p.intro-feature-desc TODO.
    .intro-feature
      h3.intro-feature-title Extensibility
      p.intro-feature-desc TODO.

