<div id="banner" class="outer">
  <div class="inner">
    <h2 id="banner-title">前端模块架构<br>基于seajs</h2>
    <div id="banner-getting-started">
      <span id="banner-getting-started-prefix">$</span>
      <input id="banner-getting-started-input" type="text" value="npm install spm -g" readonly="true">
      <a href="<%- config.root %>docs" id="banner-getting-started-btn">START!</a>
    </div>
    <div id="banner-share"></div>
  </div>
  </div>
</div>

<%- page.content %>